html {
    background: url(./Fotolia_60355311_XXL.jpg) no-repeat center center fixed;
    background-size: cover;
}

#dialogBG {
    width: 300px;
    height: 250px;
    background: linear-gradient(#243352, black);
    border: 1px solid black;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 25px 1px black;
}

h1 {
    font-family: Arial;
    color: white;
    text-align: center;
    text-shadow: 1px 1px 4px black;
}

.input {
    margin-top: 3px;
    margin-bottom: 30px;
}


.logininput {
    height: 30px;
    width: 170px;
    margin-left: 50%;
    -webkit-transform: translate(-50, 0%);
    transform: translate(-50%, 0%);
    box-shadow: -1px -1px 3px black inset;
    border: 1px solid black;
    font-family: Arial;
}

#submit{
    height: 30px;
    width: 100px;
    margin-left: 50%;
    -webkit-transform: translate(-50, -30%);
    transform: translate(-50%, -30%);
    border: 1px solid black;
    background: linear-gradient(#243352, #151b29);
    color: white;
    font-family: Arial;
}
